/* Media Queries */

/* 1024 px */
@media screen and (max-width: 1024px) {
    :root{
        --primary-text-color: #3e1d04;
        --seccondary-text-color: #000000;
        --link-color: #bd8100;
        --padding-inline-section: 20px;
        --name-size: 120px;
        --heading-size: 37px;
        --sub-heading-size: 27px;
        --content-size: 17px;
    }

    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .name{
        font-family: 'Dancing Script';
        font-size: var(--name-size);
        text-align: center;
        color: var(--primary-text-color);
        width: 70%;
    }
    
    .profile-img{
        width: 30%;
    }
    
}

/* 480px */
@media screen and (max-width: 480px) {
    :root{
        --primary-text-color: #3e1d04;
        --seccondary-text-color: #000000;
        --link-color: #bd8100;
        --padding-inline-section: 20px;
        --name-size: 85px;
        --heading-size: 35px;
        --sub-heading-size: 25px;
        --content-size: 15px;
    }

    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .name{
        font-family: 'Dancing Script';
        font-size: var(--name-size);
        text-align: center;
        color: var(--primary-text-color);
        width: 70%;
    }
    
    .profile-img{
        width: 30%;
    }
    
}

